* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body, html {
    height: 100vh;
    width: 100%;
}

#navbar {
    background-color:rgb(182, 160, 145);
    position: fixed;
    top: 0;
    width: 100%;

    transition: top 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    z-index: 1;
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(182, 160, 145);
}

.logo a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1360px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width: 975px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body, html{
        overflow-x: hidden !important;
    }

    .nav-links {
        opacity: 0.93;
        position: absolute;
        left: 0px;
        height: 70vh;
        top: 8vh;
        background-color: rgb(182, 160, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }

    .nav-links a {
        text-shadow: white 0px 0px 10px;
        text-align: center;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(-50%);
        }
        to {
            opacity: 1;
            transform: translateX(11%);
            
        }
    }

    /* BURGER ICON ANIMATION */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(182, 160, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
  }
  
  .box{
    position:relative;
    display:flex;
    background-color: rgb(182, 160, 145);
  }
  
  .box span{
  width:15px;
  height:15px;
  border-radius:50%;
  /* margin: 0px; */
  animation:Loading 1.6s ease-in-out infinite;
  transform-style:preserve-3d;
  transform-origin:center;
  margin: 20px;
  background-color: transparent;
  }
  
  .box span:first-of-type{
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}
.box span:nth-of-type(2){
background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:nth-of-type(3){
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}
.box span:nth-of-type(4){
  background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:nth-of-type(5){
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}

.box span:nth-of-type(6){
  background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:last-of-type{

  background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;
}


@keyframes Loading{

0%, 40%, 100%{
  transform:scale(1);	
}
20%{
  transform: translate3d( 0, 100px, 0);
}
}
  
  @media screen and (max-width: 800px) {
    .box span{
      width:7px;
      height:7px;
      border-radius:50%;
      animation:Loading 1.6s ease-in-out infinite;
      transform-style:preserve-3d;
      transform-origin:center;
      margin: 10px;
      background-color: transparent;
      }

      .box span:last-of-type{

        display: none;
      }

      @keyframes Loading{

        0%, 40%, 100%{
          transform:scale(1);	
        }
        20%{
          transform: translate3d( 0, 50px, 0);
        }
        }
  }
  
  .u-fullScreen {
    overflow: hidden;
    height: 100%;
  }
  
.welcome-text{
    height: 100vh;
}

.main-title {
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 2rem;
}

.under-welcome-paragraph {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 500px;
}

.welcome-img{
  width: 500px;
  position: absolute;
  right: 15%;
  top: 30%;
}

.first-interior, .second-interior{
    height: 100vh;
    position: relative;
}

.first-interior .first-main{
    position: absolute;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 630px;
}


.first-interior .title{
    position: absolute;
    left: 80%;
    top: 36%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.first-interior .description {
  position: absolute;
  top: 55%;
  left: 68%;
  width: 300px;
  transform: translate(-50%, -50%);
  text-align: center;
}   

.left-gallery img, .right-gallery img{
    width: 150px;
}

.left-gallery, .right-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 3fr));
    align-items:center;
    justify-items: center;
    margin-bottom: 2rem;
    padding: 17%;
    gap: 40px;
}



.img-container, .img-container2{
    overflow: hidden;
}

.img-container-hidden{
    display: none;
}

.img-container img{
    position: relative;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80vh;
    box-shadow: 8px 8px 20px rgba(214, 200, 200, 0.37);
}

.img-container2 img{
    position: relative;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: absolute;
    transform: translate(38vw, -50%);
    top: 80vh;
    box-shadow: 8px 8px 20px rgba(214, 200, 200, 0.37);
}


.second-interior .second-main{
    position: absolute;
    left: 70%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 630px;
}


.second-interior .title{
    position: absolute;
    left: 40%;
    top: 36%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.second-interior .description {
  position: absolute;
  top: 55%;
  left: 29%;
  width: 300px;
  transform: translate(-50%, -50%);
  text-align: center;
}   

.first-interior .btm-footer{
    position: absolute;
    left: 49.5%;
    top: 96.5%;
    transform: translate(-50%, -50%);

}




@media screen and (max-width: 1600px) {
    .welcome-img{
        width: 400px;
        position: absolute;
        right: 10%;
        top: 35%;
      }

      
.under-welcome-paragraph {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
    .welcome-img{
        width: 300px;
        position: absolute;
        right: 10%;
        top: 45%;
      }

      
.under-welcome-paragraph {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 300px;
    font-size: 0.9rem;
  }
  
  .main-title{
    font-size: 1.7rem;
}

}

@media screen and (max-width: 900px) {
    .welcome-img{
        display: none;
      }

      .main-title{
          left: 50%;
          top: 30%;
          transform: translateX(-50%);
      }
      
.under-welcome-paragraph {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    font-size: 0.9rem;
    text-align: center;
  }
}