* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

.gallery, .gallery2, .gallery3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 90vh;
    grid-gap: 2rem;
}


.img-container{
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover{
    transform: scale(1.2);
}

.modal{
    background: rgb(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all
}

.full-img {
    position: absolute;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transform: all 0.25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal h1{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 79%;
    transform: translate(-50%, -50%);
}

.modal p{
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 5vh;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(182, 160, 145);
}

.logo a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1400px) {
    .modal h1{
        color: white;
        font-size: 2rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 90%);
    }
        
    .modal p{
        opacity: 0;
    }

}

@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    body, html{
        overflow-x: hidden !important;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(182, 160, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger{
        display: block;
    }

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}