* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(182, 160, 145);
}

.logo a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1360px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width: 975px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body, html{
        overflow-x: hidden !important;
    }

    .nav-links {
        opacity: 0.93;
        position: absolute;
        left: 0px;
        height: 70vh;
        top: 8vh;
        background-color: rgb(182, 160, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }

    .nav-links a {
        text-shadow: white 0px 0px 10px;
        text-align: center;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(-50%);
        }
        to {
            opacity: 1;
            transform: translateX(11%);
            
        }
    }

    /* BURGER ICON ANIMATION */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}