* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body, html {
    height: 100vh;
    width: 100%;
}

#navbar {
    background-color:rgb(182, 160, 145);
    position: fixed;
    top: 0;
    width: 100%;

    transition: top 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    z-index: 1;
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(182, 160, 145);
}

.logo a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1360px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width: 975px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    body, html{
        overflow-x: hidden !important;
    }

    .nav-links {
        opacity: 0.93;
        position: absolute;
        left: 0px;
        height: 70vh;
        top: 8vh;
        background-color: rgb(182, 160, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }

    .nav-links a {
        text-shadow: white 0px 0px 10px;
        text-align: center;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(-50%);
        }
        to {
            opacity: 1;
            transform: translateX(11%);
            
        }
    }

    /* BURGER ICON ANIMATION */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
        opacity: 0;
    }
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(182, 160, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
  }
  
  .box{
    position:relative;
    display:flex;
    background-color: rgb(182, 160, 145);
  }
  
  .box span{
  width:15px;
  height:15px;
  border-radius:50%;
  /* margin: 0px; */
  animation:Loading 1.6s ease-in-out infinite;
  transform-style:preserve-3d;
  transform-origin:center;
  margin: 20px;
  background-color: transparent;
  }
  
  .box span:first-of-type{
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}
.box span:nth-of-type(2){
background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:nth-of-type(3){
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}
.box span:nth-of-type(4){
  background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:nth-of-type(5){
background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;

}

.box span:nth-of-type(6){
  background-color:rgba(0, 0, 0, 0.705);
animation-delay:.3s;

}
.box span:last-of-type{

  background-color:rgba(255, 255, 255, 0.675);
animation-delay:0s;
}


@keyframes Loading{

0%, 40%, 100%{
  transform:scale(1);	
}
20%{
  transform: translate3d( 0, -100px, 0);
}
}
  
  @media screen and (max-width: 800px) {
    .box span{
      width:7px;
      height:7px;
      border-radius:50%;
      animation:Loading 1.6s ease-in-out infinite;
      transform-style:preserve-3d;
      transform-origin:center;
      margin: 10px;
      background-color: transparent;
      }

      .box span:last-of-type{

        display: none;
      }

      @keyframes Loading{

        0%, 40%, 100%{
          transform:scale(1);	
        }
        20%{
          transform: translate3d( 0, -50px, 0);
        }
        }
  }
  
  .u-fullScreen {
    overflow: hidden;
    height: 100%;
  }
  
.welcome-text{
    height: 100vh;
    
}

.title {
    position: absolute;
    top: 40%;
    left: 20%;
}

.under-welcome-paragraph {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 500px;
}

.welcome-img{
  width: 300px;
  position: absolute;
  right: 15%;
  top: 27%;
}