


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(248,248,245,255);
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  display: grid;
  overflow-x: hidden;
}

 main {
  position: relative;
  display: grid;
  height: 100vh;
 }

 main .welcome {
   width: 30%;
   position: absolute;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
 }

 main .welcome h1 {
   margin-bottom: 10px;
 }

 main .welcome h3 {
   margin-bottom: 5px;
 }

 main .welcome p {
   margin-top: 30px;
   padding-right: 100px;
 }

.welcome-pictures .sharlota {
  width: 20%;
  position: absolute;
  right: 5%;
  top: 10%;
}

.welcome-pictures .amco {
  width: 40%;
  position: absolute;
  right: 25%;
  top: 15%;
}

.scroll-to-explore {
  padding-top: 40px;
  float: left;
  font-weight: 800;
}

.mouse {
  width: 80px;
  height: auto;
  padding-top: 10px;
}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.animation .art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.animation .interior {
  top: 20%;
  left: 0;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  margin: 0 calc(100vw / 10.5 * 3);
  position: absolute;
  opacity: 0;
}

.animation .girl-fading {
  top: 0;
  left: 0;
  z-index: 1;
  width: 50vw;
  height: 50vw;
  margin: 0 calc(100vw / 12 * 3);
  position: absolute;
}



#container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
}

.module{
  height:100%;
  display:flex;
}

.first img, .second img, .third img, .fourth img, .fifth img, .end img {
  width: 100vh;
}

.first{
  width:90vw;
}

.second{
  width:80vw;
}

.third{
  width:80vw;
}

.fourth{
  width:90vw;
}

.fifth{
  width:100vw;
}

.end{
  width: 100vw;
}

.final {
  width: 80vw;
}

.final img {
  position: absolute;
  height: 300px;
  top: 50%;

}


@media screen and (max-width: 1100px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 150vw;
  }
}


@media screen and (max-width: 880px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 10%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
}

@media screen and (max-width: 730px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {

    width: 700px;
    height: 700px;

  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
}

@media screen and (max-width: 650px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {

    width: 600px;
    height: 600px;

  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
}


@media screen and (max-width: 550px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
position: absolute;
    width: 500px;
    height: 500px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
}


@media screen and (max-width: 470px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
}



@media screen and (max-width: 375px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 300vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 375px;
    height: 375px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 25%;
  }
}

.illustrations {
  grid-row: 0/1;
  position: relative;
}
.art {
  grid-row: 0/1;
  position: relative;
}

.logos {
  grid-row: 0/1;
  position: relative;
}

.interior {
  grid-row: 0/1;
  position: relative;
}

.sections {
  position: relative;
}

.sections p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: transparent;
  font-weight: bold;
  z-index: 9999;
  opacity: 0;
  transition: all .3s;
  color:  #5e4c3f;
}

.wanna {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 8rem;
}

.more {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}


.sections img{
  width: 300px;
  height: 300px;
  transition: all .3s;
}


.sections:hover img {
  filter: blur(5px);
  box-shadow: 8px 8px 20px rgb(182, 160, 145);
}

.sections:hover p {
  opacity: 1;
}

.more img {
  box-shadow: 10px 10px 20px rgb(182, 160, 145);
}

.contact-me {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me h1 {
  position: absolute;
  top: 20%;
  right: 50%;
  font-size: 4em;
  transform: translate(50%, -50%);
  background-color: transparent;
}

.form .one, .two, .three, .four {
  transform: translateX(110%);
  width: 100px;
}

.contact-form {
  width: 100%;
  max-width: 60vw;
  height: 45vh;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

span {
  position:absolute;
}

.contact-name,
.contact-surname,
.contact-email,
.contact-message {
  display: block;
  width: 20vw;
  box-sizing: border-box;
  margin: 16px 0;
  padding-top: 40px;
  outline: none;
  border: 0;
  border-bottom: 1px solid silver;
  position: relative;
  resize: none;
}

.contact-message{
  padding-top: 80px;
  line-height: 2ch;
}

.content-first-name,
.content-surname,
.content-email,
.content-message {
  transform: translateY(-45px);
  transition: all 0.3s ease;
}

.one:focus-within .content-first-name {
  transform: translateY(-300%);
}

.two:focus-within .content-surname {
  transform: translateY(-300%);
}

.three:focus-within .content-email {
  transform: translateY(-300%);
}

.four:focus-within .content-message {
  transform: translateY(-500%);
}

.contact-form-button {
  border: 0;
  background: rgb(182, 160, 145);
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 13vw;
}

.contact-form-button:hover{
  background: rgb(233, 146, 88);
}

.social-media{
  text-align: center;
  margin-top: 50px;
}

 .logo {
  margin-left: 25px;
  margin-right: 25px;
}

.about-me h2 {
  transform: translate(4vw, 4vh);
  font-size: 2rem;
}

.about-me .about-me-one{
  transform: translate(4vw, 8vh);
  width: 450px;
}

.about-me .about-me-two{
  transform: translate(10vw, 12vh);
  width: 330px;
}

.about-me-pic img {
  transform: translate(-50%, -25%);
  position: relative;
  z-index: 9999;
  width: 300px;
}

@media screen and (max-width: 1600px) {
  .about-me-pic img {
    transform: translate(-60%, -100%);
    position: relative;
    z-index: 9999;
    width: 320px;
  }

  .contact-me h1 {
    position: absolute;
    top: 22%;
    right: 50%;
    font-size: 3em;
    transform: translate(50%, -40%);
  }

  .about-me h2 {
  transform: translate(2vw, 4vh);
  font-size: 2rem;
  }

  .about-me .about-me-one{
    transform: translate(2vw, 8vh);
    width: 400px;
  }
  
  .about-me .about-me-two{
    transform: translate(10vw, 12vh);
    width: 300px;
  }

  .about-me-pic img {
    transform: translate(-55%, -50%);
    position: relative;
    z-index: 9999;
    width: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .about-me-pic img {
    opacity: 0;
  }
}

footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}