* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(248,248,245,255);
}
body {
  font-family: "Barlow", sans-serif;
  height: 100%;
  margin: 0;
  display: grid;
  overflow-x: hidden;
}
 main, .contact-me {
  position: relative;
  display: grid;
  height: 100vh;

 }

 main .welcome {
   width: 30%;
   position: absolute;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
 }

 main .welcome h1 {
   margin-bottom: 10px;
 }

 main .welcome h3 {
   margin-bottom: 5px;
 }

 main .welcome p {
   margin-top: 30px;
   padding-right: 100px;
 }

.welcome-pictures .sharlota {
  width: 20%;
  position: absolute;
  right: 5%;
  top: 10%;
}

.welcome-pictures .amco {
  width: 40%;
  position: absolute;
  right: 25%;
  top: 15%;
}

.scroll-to-explore {
  padding-top: 40px;
  float: left;
  font-weight: 800;
}

.mouse {
  width: 80px;
  height: auto;
  padding-top: 10px;
}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.animation .art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.girl-fading {
  height: 700px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
}

.module{
  height:100%;
  display:flex;
}


.first{
  width:90vw;
}

.second{
  width:80vw;
}

.third{
  width:80vw;
}

.fourth{
  width:90vw;
}

.fifth{
  width:100vw;
}

.end{
  width: 100vw;
}

.final {
  width: 80vw;
}

.final img {
  position: absolute;
  height: 300px;
  top: 50%;

}

.more {
  height: 100vh;
  text-align: center;
  display: inline;
}

.more h1{
  font-size: 5em;
  padding-bottom: 25vh;
  padding-top: 10%;
}

.more h3 {
  padding-top: 30px;
}

.contact-me h1 {
  position: absolute;
  top: 25%;
  right: 50%;
  font-size: 4em;
  transform: translate(50%, -50%);
}


.contact-form {
  position: absolute;
  top: 65%;
  right: 50%;
  transform: translate(50%, -50%);
}

span{
  position:absolute;
}


.contact-name,
.contact-surname,
.contact-email,
.contact-message {
  display: block;
  width: 40vw;
  box-sizing: border-box;
  margin: 16px 0;
  padding-top: 40px;
  outline: none;
  border: 0;
  border-bottom: 1px solid silver;
  position: relative;
  resize: none;
}

.contact-message{
  padding-top: 80px;
  line-height: 2ch;
}

.content-first-name,
.content-surname,
.content-email,
.content-message {
  transform: translateY(-40px);
  transition: all 0.3s ease;
}

.one:focus-within .content-first-name {
  transform: translateY(-350%);

}

.two:focus-within .content-surname {
  transform: translateY(-350%);
}

.three:focus-within .content-email {
  transform: translateY(-350%);
}

.four:focus-within .content-message {
  transform: translateY(-570%);
}


.contact-form-button {
  float: right;
  border: 0;
  background: rgb(182, 160, 145);
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-button:hover{
  background: rgb(233, 146, 88);
}

.social-media{
  text-align: center;
}

 .logo {
  margin-left: 25px;
  margin-right: 25px;
}

footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}