* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(248,248,245,255);
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  display: grid;
  overflow-x: hidden !important;
  width: 100%;
}

 main {
  position: relative;
  display: grid;
  height: 120vh;
 }

 main .welcome {
   width: 30%;
   position: absolute;
   top: 50%;
   left: 25%;
   transform: translate(-50%, -50%);
 }

 .art-logo{
   display: none;
 }

 .mobile-text h1{
   display: none;
   position: relative;
 }

 main .welcome h1 {
   margin-bottom: 10px;
 }

 main .welcome h3 {
   margin-bottom: 5px;
 }

 main .welcome p {
   margin-top: 30px;
   padding-right: 100px;
 }


.welcome-pictures .sharlota {
  width: 20%;
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: 9999;
}

.welcome-pictures .amco {
  width: 40%;
  position: absolute;
  right: 25%;
  top: 15%;
}

@media screen and (max-width: 1350px){
  .welcome-pictures .sharlota {
    display: none;
  }
  .welcome-pictures .amco {
    width: 50%;
    position: absolute;
    right: 10vw;
    top: 15vh;
  }
}

@media screen and (max-width: 1110px){

  .welcome-pictures .amco {
    width: 600px;
    position: absolute;
    left: 30%;
    top: 35vh;
    transform: translate(-50%, 0%);
  }

.welcome-pictures .sharlota{
    display: flex;
    width: 400px;
    position: absolute;
    left: 75%;
    top: 35vh;
    transform: translate(-50%, 0%);
  }

  .under-welcome-text, .scroll-to-explore, .mouse{
    display: none;
  }
  
  main .welcome {
    width: 450px;
    position: absolute;
    top: 20%;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px){

  .welcome-pictures .sharlota{
    display: flex;
    width: 300px;
    position: absolute;
    left: 75%;
    top: 35vh;
    transform: translate(-50%, 0%);
  }
  .welcome-pictures .amco {
    width: 400px;
    position: absolute;
    left: 30%;
    top: 35vh;
    transform: translate(-50%, 0%);
    font-size: 1rem;
  }
}

@media screen and (max-width: 830px){

  .welcome-pictures .sharlota{
    display: none;
  }
  .welcome-pictures .amco {
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 35vh;
    transform: translate(-50%, 0%);
  }

 main .welcome {
  width: 260px;
  position: absolute;
  top: 20%;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 13px;
}
}


.scroll-to-explore {
  padding-top: 40px;
  float: left;
  font-weight: 800;
}

.mouse {
  width: 80px;
  height: auto;
  padding-top: 10px;
}

.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.animation .art {
  top: 100px;
  left: 0;

  width: 40vw;
  height: 40vw;
  margin: 0 calc(100vw / 10 * 3);
  position: absolute;
  opacity: 0;
}

.animation .art-des {
  top: 100px;
  left: 0;
  z-index: 1;
  width: 55vw;
  height: 40vw;
  margin: 0 calc(100vw / 14 * 3);
  position: absolute;
  opacity: 0;
}

.animation .girl-fading {
  top: 0;
  left: 0;
  z-index: 1;
  width: 50vw;
  height: 50vw;
  margin: 0 calc(100vw / 12 * 3);
  position: absolute;
}

@media screen and (max-width: 1700px){
  
  .animation .art {
    top: 7%;
    left: 0;
  
    width: 40vw;
    height: 40vw;
    margin: 0 calc(100vw / 10 * 3);
    position: absolute;
    opacity: 0;
  }
  
  .animation .art-des {
    top: 7%;
    left: 0;
    z-index: 1;
    width: 40vw;
    height: 40vw;
    margin: 0 calc(100vw / 10 * 3);
    position: absolute;
    opacity: 0;
  }
  
  .animation .girl-fading {
    top: 0;
    left: 0;
    z-index: 1;
    width: 50vw;
    height: 50vw;
    margin: 0 calc(100vw / 12 * 3);
    position: absolute;
  }
  
  
  }

@media screen and (max-width: 1500px){
  
.animation .girl-fading {
  top: 0;
  left: 0;
  z-index: 1;
  width: 70vw;
  height: 70vw;
  margin: 0 calc(100vw / 20 * 3);
  position: absolute;
}

.animation .art-des {
  top: 7%;
  left: 0;
  z-index: 1;
  width: 50vw;
  height: 50vw;
  margin: 0 calc(100vw / 12 * 3);
  position: absolute;
  opacity: 0;
}

.animation .art {
  top: 7%;
  left: 0;
  width: 40vw;
  height: 40vw;
  margin: 0 calc(100vw / 10 * 3);
  position: absolute;
  opacity: 0;
}


}

@media screen and (max-width: 1200px){
  
  .animation .girl-fading {
    top: 0;
    left: 0;
    z-index: 1;
    width: 80vw;
    height: 80vw;
    margin: 0 calc(100vw / 40 * 3);
    position: absolute;
  }
  .animation .art-des {
    top: 200px;
    left: 0;
    z-index: 1;
    width: 50vw;
    height: 50vw;
    margin: 0 calc(100vw / 12 * 3);
    position: absolute;
    opacity: 0;
  }

  .animation .art {
    top: 150px;
    left: 0;
    width: 60vw;
    height: 60vw;
    margin: 0 calc(100vw / 15 * 3);
    position: absolute;
    opacity: 0;
  }
  
  }

  @media screen and (max-width: 800px){
  
    .animation .girl-fading {
      top: 150px;
      left: -12%;
      z-index: 1;
      width: 120vw;
      height: 120vw;
      margin: 0 calc(100vw / 1000 * 3);
      position: absolute;
    }

    .animation .art-des {
      top: 250px;
      left: -2%;
      z-index: 1;
      width: 100vw;
      height: 80vw;
      margin: 0 calc(100vw / 1000 * 3);
      position: absolute;
      opacity: 0;
    }

    .animation .art {
      top: 200px;
      left: -4%;
      width: 100vw;
      height: 100vw;
      margin: 0 calc(100vw / 40 * 3);
      position: absolute;
      opacity: 0;
    }


    .mobile-text h1{
      display: flex;
      z-index: 1;
      position: absolute;
      left: 50%;
      background-color:transparent ;
      transform: translate(-50%, 100%);

    }

    main {
      height: 100vh;
    }
    }

#container {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
}

.module{
  height:100%;
  display:flex;
}

.first img, .second img, .third img, .fourth img, .fifth img, .end img {
  width: 100vh;
}

.first{
  width:90vw;
}

.second{
  width:80vw;
}

.third{
  width:80vw;
}

.fourth{
  width:90vw;
}

.fifth{
  width:100vw;
}

.end{
  width: 100vw;
}

.final {
  width: 80vw;
}

.final img {
  position: absolute;
  height: 300px;
  top: 50%;

}

.container-mobile{
  display: none;
}


@media screen and (max-width: 1100px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 100vw;
  }
}

@media screen and (max-width: 800px){
  #container {
    display:none;
  }

  .container-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap:200px;
 
    justify-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  .sections-mobile img{
    width: 300px;
    height: 300px;
    transition: all .3s;
  }

  .sections-mobile.a {
    opacity: 0;
    -moz-transition: all 1000ms linear;
    -webkit-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
    -moz-transform: translate3d(-200px, 0px, 0px);
    -webkit-transform: translate3d(-200px, 0px, 0px);
    -o-transform: translate(-200px, 0px);
    -ms-transform: translate(-200px, 0px);
    transform: translate3d(-200px, 0px, 0px);
  }


 .sections-mobile.b {
    opacity: 0;
    -moz-transition: all 1000ms linear;
    -webkit-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transition: all 1000ms linear;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200px, 0px);
  }

    .sections-mobile.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  


}

/* 
@media screen and (max-width: 880px){

  #container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:100vh;
  }

  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 10%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
} */

/* @media screen and (max-width: 730px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {

    width: 700px;
    height: 700px;

  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
} */
/* 
@media screen and (max-width: 650px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {

    width: 600px;
    height: 600px;

  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
} */

/* 
@media screen and (max-width: 550px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
position: absolute;
    width: 500px;
    height: 500px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
} */

/* 
@media screen and (max-width: 470px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 140vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 500px;
  }
} */



/* @media screen and (max-width: 375px){
  .first, .second, .third, .fourth, .fifth, .end {
    width: 150vw;
  }

  .first img, .second img, .third img, .fourth img, .fifth img, .end img {
    position: absolute;
    width: 375px;
    height: 375px;
    top: 25%;
  }

  .final img {
    width: 250px;
    height: 250px;
    top: 25%;
  }
} */

.illustrations {
  grid-row: 0/1;
  position: relative;
}
.art {
  grid-row: 0/1;
  position: relative;
}

.logos {
  grid-row: 0/1;
  position: relative;
}

.interior {
  grid-row: 0/1;
  position: relative;
}

.sections {
  position: relative;
}

.sections p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background-color: transparent;
  font-weight: bold;
  z-index: 9999;
  opacity: 0;
  transition: all .3s;
  color:  #5e4c3f;
}

.wanna {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 8rem;
}

.more {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}


.sections img{
  width: 300px;
  height: 300px;
  transition: all .3s;
}


.sections:hover img {
  filter: blur(5px);
  box-shadow: 8px 8px 20px rgb(182, 160, 145);
}

.sections:hover p {
  opacity: 1;
}

.more img {
  box-shadow: 10px 10px 20px rgb(182, 160, 145);
}

.contact-me {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me-mobile{
  display: none;
}

.contact-me h1 {
  position: absolute;
  top: 20%;
  right: 50%;
  font-size: 4em;
  transform: translate(50%, -50%);
  background-color: transparent;
}

/* .form .one, .two, .three, .four {
  transform: translateX(75%);
  width: 100px;
} */




.contact-form {
  width: 100%;
  max-width: 60vw;
  height: 45vh;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

span {
  position:absolute;
}

.contact-name,
.contact-surname,
.contact-email,
.contact-message {
  display: block;
  width: 20vw;
  box-sizing: border-box;
  margin: 16px 0;
  padding-top: 40px;
  outline: none;
  border: 0;
  border-bottom: 1px solid silver;
  position: relative;
  resize: none;
  margin-left: 17%;
}

.contact-message{
  padding-top: 80px;
  line-height: 2ch;
}

.content-first-name,
.content-surname,
.content-email,
.content-message {
  transform: translate(5vw ,-45px);
  transition: all 0.3s ease;
}

.one:focus-within .content-first-name {
  transform: translate(5vw,-300%);
}

.two:focus-within .content-surname {
  transform: translate(5vw,-300%);
}

.three:focus-within .content-email {
  transform: translate(5vw,-300%);
}

.four:focus-within .content-message {
  transform: translate(5vw,-500%);
}

.form{
  position: relative;
}

.form .contact-form-button {
  border: 0;
  background: rgb(182, 160, 145);
  color: white;
  padding: 12px 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}


.contact-form-button:hover{
  background: rgb(233, 146, 88);
}

.social-media{
  text-align: center;
  margin-top: 50px;
}

 .logo {
  margin-left: 25px;
  margin-right: 25px;
}

.about-me h2 {
  transform: translate(4vw, 4vh);
  font-size: 2rem;
}

.about-me .about-me-one{
  transform: translate(4vw, 8vh);
  width: 450px;
}

.about-me .about-me-two{
  transform: translate(10vw, 12vh);
  width: 330px;
}

.about-me-pic img {
  transform: translate(-50%, -25%);
  position: relative;
  z-index: 9999;
  width: 300px;
}

.hit-me-up-mobile{
  display: none;
}

.h2-mobile{
  display: none;
}

@media screen and (max-width: 1600px) {
  .about-me-pic img {
    transform: translate(-60%, -100%);
    position: relative;
    z-index: 9999;
    width: 320px;
  }

  .contact-me h1 {
    position: absolute;
    top: 22%;
    right: 50%;
    font-size: 3em;
    transform: translate(50%, -40%);
  }

  .about-me .about-me-one{
    transform: translate(2vw, 8vh);
    width: 400px;
  }
  
  .about-me .about-me-two{
    transform: translate(10vw, 12vh);
    width: 300px;
  }

  .about-me-pic img {
    transform: translate(-55%, -50%);
    position: relative;
    z-index: 9999;
    width: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .about-me-pic img {
    width: 200px;
    position: absolute;
    top: 22%;
    left: 68%;
   
  }

  .contact-me h1{
    display: none;
  }

  .about-me .h2-pc {
    display: none;
    }
  
    .h2-mobile {
      display: inline-block;
  
      transform: translate(1vw, 4vh);
      font-size: 2rem;
      }

  .about-me h2{
    position: absolute;
    left: 22%;
  }

  .about-me-two{
    display: none;
  }

  .about-me{
    z-index: 9999;
  }

  
.about-me .about-me-one{
  transform: translate(4vw, 15vh);
  width: 50%;

}


  .contact-me h1{
   position: absolute;
   top: 20vh;
  }


  .contact-form {
    width: 100%;
    max-width: 60vw;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .form .one, .two, .three, .four {
    transform: translate(15vw, 40%);
    width: 100px;
  }

  .contact-form-button {
    border: 0;
    background: rgb(182, 160, 145);
    color: white;

    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    
    left: 50%;
    bottom: 3%;
    position: absolute;
    transform: translate(-50% , -50%)
  }

  .contact-name,
.contact-surname,
.contact-email,
.contact-message {
  display: block;
  width: 30vw;
  box-sizing: border-box;
  margin: 16px 0;
  padding-top: 40px;
  outline: none;
  border: 0;
  border-bottom: 1px solid silver;
  position: relative;
  resize: none;
}


}

footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}